*.sketch
*.fig
*.xd
.DS_Store
.prettierignore
node_modules/
.env
autostart
caja
cinnamon
cinnamon-session
Code
dconf
evolution
go
goa-1.0
gtk-3.0
libreoffice
menus
nemo
parcellite
pulse
user-dirs.dirs
user-dirs.locale
X-Cinnamon-xdg-terminals.list
xdg-terminals.list
ags
alacritty
btop
cava
discord
Electron
fastfetch
figma-linux
fontconfig
gtk-4.0
kate
KDE
kde.org
kdedefaults
Kvantum
libaccounts-glib
nwg-displays
nwg-look
qt5ct
qt6ct
session
swappy
systemd
Thunar
wal
wallust
waybar_old
wlogout
xfce4
xsettingsd
yay
baloofilerc
bluedevilglobalrc
dolphinrc
gtkrc
gtkrc-2.0

bluedevilglobalrc
dolphinrc
 ★ gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kded6rc
 ★ kdeglobals
kfontinstuirc
kglobalshortcutsrc
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
 ★ kwinoutputconfig.json
kwinrc
kwriterc
kxkbrc
mimeapps.list
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
htop
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
spectaclerc
systemmonitorrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
kdeglobals
kwinoutputconfig.json
.zshrc
goose
Goose
ags
nvim_old
xarchiver
Cursor
nvim_old
google-chrome
dlv
QtProject.conf
discoverrc
arkrc
xarchiver
vesktop
simple-update-notifier
dlv
balenaEtcher

